*
{
    box-sizing: border-box;
}
html
{
    font-size: 10px;
    font-family: "poppins",sans-serif;   
}
body
{
    margin: 0;
    padding: 0;
}
.main
{
    max-width: 1500px;
    margin:  auto;
    }
.main-container
{
   width: 100%;
}
.container1
{
 background-color:#1F2024;
}
.header
{
    display: flex;
    justify-content: space-between;
}
.headerpic
{
    display: flex;
}
.logopic
{
    width:33px;
    height: 33px;
    background: url("/assessts/images/div.svg") 19% no-repeat;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.logo
{   
    margin-left: 1.5rem;
    color: #2a55ff;
    margin-top: 1.5rem;
    font-size: 1.5rem;    
}
.menu
{
    display: none;
}
.items
{
 margin-top: 2rem;
 color: #ffffff;
}
.btn
{
    display: none;
}
 .toggle-button
{
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
    padding: 1.5rem;
}
.bar
{
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin-top:1px;
}
.signin ,.signup{
    
    border-radius: 1rem;
    border: 1px;
    width: 40%;
    height: 80%;
  }
  .first-section
  {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding-left: 10rem; */
  }
  .main-head
  {
    color: #ffffff;
    padding-left: 2rem;
    font-weight: 700;
    margin-top: 1rem;
  }
  .main-sub{
    font-size: 2rem;
    /* margin-top: 1rem; */
  }
  .main-header
  {
    display: none;
  }
  .btn1{
    display: flex;
    margin-top:4rem;
    gap: 10px;
    /* justify-content: left; */
    padding-left:2rem ;
     /* width: 50%; */
    height: 35px;    
}
.account
{
   border-radius: 1rem;
   color: #1f2024;
    background-color: #ffffff;
    border: 2px solid #000000;
}
.demo
{
    
    border-radius: 1rem;
    border: 2px solid #ffffff;
    background-color: #000000;
    color:#ffffff;    
}
.section1
{
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    margin-top: 3rem;
}
.full-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hii{
    /* width: 80%; */
    display: flex;
    flex-direction:  column-reverse;
    /* justify-content: left; */
    margin-bottom: 2rem;

}
.parr
{
    display: none;
}
.left-section
{
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    /* width: 87%; */
    /* align-items: center; */
}
.left2
{
    display: flex;
    flex-direction: column;
    color: #ffffff;
     /* align-items: center; */
    /* width: 20%;      */
    gap: 2rem;
    /* margin-bottom: 1rem; */
}
.right-section
{
    display: flex;
    margin: 4rem;
    width: 150px;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 1px;    
}
.right-pic
{
    background: url("/assessts/images/624b125fbdd2fb6da7513d8b_create-base-templates%25402x.webp.svg")  no-repeat;
    width: 100px;
        height: 80px;
    background-size:98%;
    margin-left: 2REM;
    margin-top: 1rem;
}
@media (min-width:720px)
{
    .logopic{
        width: 50px;
        height: 45px;
        background-size: 75%;
    }
    .logo{
        font-size: 1.6rem;
        margin-top: 2rem;
    }
    .menu{
        display: flex;
        /* justify-content: space-between; */
        font-size: 1.6rem;
        gap: 20px;
    }
    .main-head{
        font-size: 2.6rem;
        margin-top: 2rem;
    }
    .main-sub
    {   padding-left: 6rem;
        font-size: 4rem;
    }
    .main-header{
        display: flex;
        flex-direction: column;
        color: #ffffff;
        font-weight: 200;
        /* width: 74%; */
        font-size: 1.3rem;
        padding-left: 7rem;
    }
    .btn1
    {
    font-size: 1.6rem;
    padding-left: 7rem;
    
    }
    .section1{
        font-size: 1.6rem;
    }
    .hii
{
    /* display: flex; */
    flex-direction: row;
    /* justify-content: flex-start; */
    /* margin-right: 50px; */
    padding-right: 3rem;
    margin-bottom: 3rem;
    /* flex-grow: 1 1 200px; */
    flex-basis: content;
}
.parr
{
 margin-top: 2rem;
width:65%;
  /* height: 40%; */
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
flex-direction: column;
justify-content: center;
font-size: 1.3rem;

}
.left1
{
    font-size: 1.5rem;
    color: #464040;
}
.subleft
{
    font-size: .9rem;
    color: #464040;}
.right-section
{
    width: 80%;
    height: 70%;
    margin-top: 2rem;   
    /* flex-basis: content; */
}
.right-pic
{
    width: 200px;
    height: 120px;
}
.left2{
    margin-top: 2rem;
 padding-right: 3rem;   
    
}
.left-banner
{
    font-size: 1.1rem;
    color: #1a47ff;
    background: url("assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg")  55%     no-repeat;    
}
}
@media (min-width:1200px)
{
    .logopic{
        height: 60px;
        border-radius: 1rem;
        background-size: 95%;
        margin-left: 1rem;
    }
    .logo{
        font-size:1.5rem;
        margin-top: 2.5rem;
    }
    .menu{
        gap:25px;
    }
    .items
    {  
        margin-left: 2rem;
        margin-top: .5rem;
        padding: 2rem;
    }
    .toggle-button
    {
        display: none;
    }
    .btn{
        display: flex;
         flex-direction: row;
        justify-content: center;
         width: 15%;
         gap:10px;
         margin-right: 1rem;
         font-size: 4rem;
         margin-top: 2rem;
      }
      .signup {
         background-color: #1a47ff;
         color: #ffff;
       }
       .signin
       {
         background-color: #ffffff;
         color: #1f2024;
       }
       .main-head
       {
        margin-top: 4rem;
       }
       .main-sub{
        font-size: 7rem;
        padding-left: 7rem;
       }
        .main-header{
            font-size:2rem; 
            padding-left: 10rem; 
        }           
        .btn1{
            font-size: 1.8rem;
            padding-left: 10rem;
        }
        .section1{
            font-size: 3.5rem;
        }
        .parr{
            width:50%;
            height: 49%;
            /* flex-basis: content; */
        
         }
         .left1{
            font-size: 1.7rem;
         }
         .subleft
         {
            font-size: 1.4rem;
         }
     .right-section
     {
        /* width: 40%; */
       /* margin-top: 1rem; */
      /* flex-basis: content; */
      width: 400px;
  height: 200px;
  /* padding: 40px 0; */
  /* margin-right: 2rem; */
  align-items: center;
     }
     .right-pic
     {
        background-size: 87%;
        width: 350px;
        height: 190px;
     }
     .left-banner
     {
        font-size: 1.5rem;
        background: url("assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg")  45%     no-repeat;   
     }
     .left2
     {
        font-size: 1.8rem;
        /* width: 49%; */
     }
 }

 /* SECOND SECTION */
.container2
{
    background-color:#F5F5F5; ;
}
.full-second
{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.second-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
 margin-top: 3rem;
    font-size: 1rem;
  color: #1F2024;
  font-weight: 870;
}
.second-sub
{  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #707070;
}
.second-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-left1,.second-left2,.second-right1,.second-right2
{
    border-radius: 1rem;
    border: 1px;
    width: 294px;
    height: 241px;
    background-color: rgba(112,112,112,.2);
    /* margin-top: 1rem; */
    margin: 2rem 2rem 2rem 2rem;
}
.secondpic
{
    background: url("/assessts/images/624b0ff81cfe0f58c5ec933f_advertising-banners%25402x.webp.svg") 70%  no-repeat;
    width: 200px;
    height: 160px;
    margin: 2rem 3rem;

}
.secondpic1
{
    background: url("/assessts/images/624c10fef8715f0c0d41fc33_social-content%25402x.webp.svg") 70% no-repeat;
    width: 200px;
    height: 180px;
    margin: 2rem;
}
.secondpic2
{
    background: url("/assessts/images/624b0ff86b21e6d5ede6a890_email-marketing%25402x.png.svg") 70% no-repeat;
    width: 200px;
    height: 160px;
    margin: 1rem;
}
.secondpic3
{
    background: url("/assessts/images/624b0ff8de14f978040c0edd_personalized-images%25402x.webp.svg") 70% no-repeat;
    width: 200px;
    height: 160px;
    margin: 2rem;
}
.second-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-head
{
    color: #000000;
    font-size: 1.5rem;
}
.content-sub
{
    color: #707070;
    font-size: 1rem;
}
@media (min-width:720px)
{

.second-header
{
    font-size: 3rem;
}
.second-sub
{
    font-size: 1.6rem;
}
.second-left1
{
    display: flex;
    width: 280px;
    height: 150px;
    font-size: 1.4rem;
}
.second-section{
    flex-direction: row;
    justify-content: center;
}
}
@media (min-width:1200px)

{
.second-sub
{
    font-size: 1.4rem;
}
}