* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1500px;
    margin: auto;
}

.top-container {
    background-color: #1F2024;
}
.top-container2 {
    background-color: #707070;
}

.top-container3 {
    background-color: #000000;
}
.font-Main
{
    font-size: 1.5rem;
}
.col-Main
{
    display: flex;
    flex-direction: column;
}
.row-Main
{
    display: flex;
}
.header {
    justify-content: space-between; 
    align-items: center;
   
}
.logoPic {
    width: 3rem;
    height: 3rem;
    background: url("/assessts/images/div.svg") 19% no-repeat;
    border-radius: 2rem;
    margin: 1rem 0 0 1rem;
}
.logo {
    margin: 1.5rem 0 0 1.5rem;
    color: #2a55ff;
}
.menu {
    display: none;
}
.items {
    margin-top: 2rem;
    color: #ffffff;
}
.btn {
    display: none;
}
.toggle-Button {
    padding: 1.5rem;
    margin-top: 2rem;
    font-size: 2.4rem;
    color: #ffffff;
}
.signIn,
.signUp {
    border-radius: 1rem;
    border: 1px;
    width: 7rem;
    height: 4rem;
}
.main-Sub {
    color: #ffffff;
    font-weight: 800;
    font-size: 2.6rem;
}
.main-Header {
    display: none;
}
.btn1 {
    margin-top: 8rem;
    gap: 20px;
    height: 40px;
}
.account {
    border-radius: 1rem;
    color: #1f2024;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.demo {
    border-radius: 1rem;
    border: 2px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
   
}
.first-Section
{
    align-items: center;
}
.section1 {
    color: #ffffff;
    justify-content: center;
    margin: 3rem 3rem 2rem 3rem;
    font-weight: 800;
}
.section2
{
    justify-content: center;
    margin-bottom: 2rem;
    /* align-items: center; */
    text-align: center;
}
.parr {
    display: none;
}
.left2 {
    color: #ffffff;
    gap: 2rem;
   align-items: center;
    margin-bottom: 2rem;
    font-weight: 800;
}
.right-Section {
    
    width: 90%;
    padding-left: 1rem;
}
@media (min-width:720px) {
    .logoPic {
        width: 4rem;
        height: 4rem;
        background-size: 75%;
    }

    .logo {
        margin:2.1rem 0 0rem 0;
    }

    .menu {
        display: flex;
        gap: 20px;
    }
      .main-Header {
        display: flex;
        flex-direction: column;
        color: #ffffff;
    }
    .first-Section {
        align-items: flex-start;
        padding-left: 10%;
    }
    .account,
    .demo
    {
        padding: 2rem 2rem 3rem 2rem;
    }
    .left-Sub{
        margin-top: 1rem;
    }
    .section2 {
        flex-direction: row-reverse;
        gap: 40px;
        width: 100%;
        padding-left: 8%;
    }
    .parr {
        margin-top: 2rem;
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        display: flex; 
        flex-direction: column;
        align-items: baseline;
    }
    .left1 {
        font-size: 1.6rem;
        color: #464040;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    .subLeft {
       
        font-size: .9rem;
        color: #464040;
    }
    .right-Section {
        padding-right: 2rem;
        flex: 2; 
    }
  .left-Banner {
  
        font-size: 1.5rem;
        color: #1a47ff;
        background: url("assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg") 90% no-repeat;
        margin-top: 1rem;
       
    }
    .left-Section{
        padding-left: 4rem;
        justify-content: space-around;
        padding-bottom: 6rem;
        /* flex: 1; */
    }
}

@media (min-width:1200px) {
    .header{
        padding-top: 3rem;
    }
    .logoPic {
        height: 6rem;
        width: 6rem;
        border-radius: 1rem;
        background-size: 95%;
        margin-left: 6rem;
    }
  .logo {
        font-size: 2rem;
        margin-top: 1.7rem;
        padding-left: 1rem;
    }
   .items {
        margin: .5rem 0 0 2rem;
        padding: 2rem;
    }
    .toggle-Button {
        display: none;
    }

    .btn {
        display: flex;
        gap: 10px;
        font-size: 4rem;
        padding-right: 4rem;
    }
    .main-Head{
       padding-top: 4rem;
    }
    .main-Sub
    {
        font-size: 8rem;
    }
    .signUp {
        background-color: #1a47ff;
        color: #ffff;
    }
    .signIn {
        background-color: #ffffff;
        color: #1f2024;
    }
.btn1 {
        font-size: 1.8rem;
        max-width: 40%;
        height: 45px;   
    }

    .section1 {
        font-size: 3.5rem;
    }
    .parr{
        margin-top: 4rem;
    }
    .subLeft {
        font-size: 1.rem;
        margin: 0 1rem;
    }
    .left-Section{
        margin-bottom: 2.5rem;
    }
    .left2 {
      align-items: flex-start;
      margin: 4rem  0 0 2rem;
        font-size: 3rem;
        row-gap: 60px;
        flex-grow: 2;
    }
}
 /* SECOND SECTION  */
     .full-Second {
        align-items: center;
    }   
     
    .second-Header {
        align-items: center;
        margin-top: 3rem;
        font-size: 1.3rem;
        color: #1F2024;
        font-weight: 870;
    }
   .second-Sub1
   {
    text-align: center;
    color: #707070;
    font-size: .9rem;
   }
    .second-Left,
    .second-Right {
        align-items: center;
     }  
    
     .second-Left1,
    .second-Left2,
    .second-Right2,
    .second-Right1 {
        border-radius: 2rem;
        border: 1px;
        width: 300px;
        background-color: rgba(112, 112, 112, .2);
        margin: 1rem 1rem 1rem 1rem;
    }
    
    .secondPic {
        background: url("/assessts/images/624b0ff81cfe0f58c5ec933f_advertising-banners%25402x.webp.svg") 70% no-repeat;
        height: 190px;
        margin: 2rem 2rem;
    }
    
    .secondPic1 {
        background: url("/assessts/images/624c10fef8715f0c0d41fc33_social-content%25402x.webp.svg") 70% no-repeat;
        height: 190px;
    } 
    
     .secondPic2 {
        background: url("/assessts/images/624b0ff86b21e6d5ede6a890_email-marketing%25402x.png.svg") 70% no-repeat;
        width: 220px;
        height: 160px;
        margin: 2rem 2rem;
    } 
    
     .secondPic3 {
        background: url("/assessts/images/624b0ff8de14f978040c0edd_personalized-images%25402x.webp.svg") 70% no-repeat;
        height: 160px;
        margin: 2rem;
    }
    
    .second-Content,
    .second-Content1,
    .right-Content,
    .right-Content1 {
        justify-content: center;
        align-items: center;  
        padding-bottom: 1rem;
    } 
    
     .content-Head,
    .content-Head1,
    .right-Head,
    .right-Head1 {
        color: #000000;
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .content-Sub,
    .second-Sub,
    .right-Sub,
    .right-Sub1 {
        color: #707070;
        font-size: 1rem;
       
    }  
    .second1-Head {
        align-items: center;
        font-size: 1.6rem;
        padding-left: 3rem;
        color: #1F2024;
        font-weight: 800;
        margin-top: 2rem;
    }
    
    .content-Par{
        text-align: center;
        font-size: 1rem;
        padding-left: 3rem;
        color: #707070;
    } 
     .imag-Section {
        background: url("/assessts/images/624b0ff858ed5b5899f53b5d_scale-visual-marketing%25402x-p-500.webp.svg") no-repeat;
        height: 200px;
        margin-top: 2rem;
        background-size: contain;
        margin-left: 3rem;
    }
    
    .image-Right {
        align-items: center;
    }
    
    .image-Right1 {
        color: #1A47FF;
        margin-top: 2rem;
        font-weight: 500;
    }  
    .image-Head {
        color: #1F2024;   
    }
    
    .image-Sub {
        font-size: .8rem;
        color: #707070;
    }
    
    .right-Banner {
       padding-right: 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        color: #1A47FF;
        background: url("/assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg") 100% no-repeat;
    }
     .contact {
        font-size: 1.4rem;
        margin: 0 60px;
        padding: 1rem;
        font-weight: 600;
    } 
    
    @media (min-width:720px) {
        .second-Header {
            font-size: 3rem;
        }
        .second-Left1,
        .second-Left2
        {
            display: flex;
            font-size: 1.4rem;
           width: 340px ;
        }
        .second-Right1,
        .second-Right2 {
            display: flex;
            font-size: 1.4rem;
            width: 350px;
        } 
    
        .second-Left,
        .second-Right {
            flex-direction: row;
            justify-content: center;
        }
    
        .second-Content,
        .second-Content1,
        .right-Content,
        .right-Content1
        {
            align-items: flex-start;
            padding-right: 3rem;
        }
        .secondPic1
        {
            width: 270px;
            padding-left: 38%;
        } 
         .secondPic {
            width: 250px;
            height: 150px;
        } 
         .second-Right1{
         height: 170px;
        }
        .secondPic2
        ,.secondPic3 {
            width: 200px;
            margin: 1rem 1rem;
        }
        .second1-Head{
            align-items: flex-start;
            padding-top: 4rem;
        }
        .content-Par
        {
            align-items: flex-start;
            font-size: 1rem;
            font-weight: 500;
        } 
        .imag-Section {
            width: 100%;
            background-size: contain;
            height: 350px;
            margin: 0 30px;
        } 
    
          .image-Full {
            flex-direction: row;
            padding-top: 4rem;
        }
    
        .image-Right {
           align-items: flex-start;
           flex: 1 0 250px;
        }
    
        .image-Head {
            font-weight: 800;
            font-size: 1.9rem;
        }
    
        .image-Sub1 {
        font-size: .8rem;
        }
    
        .right-Banner {
            background: url("/assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg") 100% no-repeat;
            margin-top: 1rem;
        }
    
        .contact {
            font-size: 1.6rem;
            align-items: center;
        } 
         .second-Sub1 {
            font-size: 1.2rem;
           max-width: 55%;
           align-items: center;
        } 
     }
     @media (min-width:1200px) {
        .second-Header
        {
            justify-content: flex-start;
            margin-left: 1rem;
            font-size: 4.5rem;
            margin-top: 6rem;
        }
       .second-Section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 3rem;
        }
        .container-Box{
            margin-left: 10%;
        } 
        .second-Left1,
        .second-Left2 {
            width: 470px;
            height: 220px;
        }
        .second-Right1,
        .second-Right2 {
            width: 470px;
            height: 200px;
        }
    
         .secondPic2 {
            margin: 4rem 2rem;
        }
    
        .second1-Head {
            margin: 5rem 0 0 4rem;
            font-size: 6.5rem;
        }
    
        .content-Par1 {
            font-size: 2rem;
            padding-left: 4rem;
        } 
    
        .imag-Section {
            width: 570px;
            margin: 0 70px;
        }
         .image-Right {
            flex-basis: 450px;
        }  
      .image-Right1
        {
           padding-top: 2rem;
        font-size: 2rem;
        }
        .image-Head {
            font-size: 5.5rem;
          }
        .image-Sub1 {
            font-size:1.2rem; 

        }
      .right-Banner {
            background: url("/assessts/images/621cedfa3feece8eec96a09e_arrow-link.svg.svg") 50% no-repeat;
            font-weight: 800;
           padding-right: 50%;
        }
    .contact {
            font-size: 5rem;
            
        }  
    }  
      @media (min-width:1500px)
    {
        .second-Left,
        .second-Right
        {
            margin-right: 18%;
        }
            } 
    /* THIRD SECTION  */
    
     .container3 {
        background-color: #707070;
    } 
    .form-Left,
    .form-Rightinput { 
        padding: 0 35px; 
    }  

    .form-Left {
        background: url("/assessts/images/contact-1920x1080%201%20(1).svg") no-repeat;
        background-size: 100%;
        border-right: 1px solid #8ED6FF !important;
    }
    
    .form-Rightinput {
        background: url("/assessts/images/contact-1920x1080%202.svg") no-repeat;
        background-size: 100%;
        background-position: center;
    }
  
    .form-Left .input-text {
        border: none;
        border-bottom: 1px solid #8ED6FF;
        background: transparent;
        padding: 3rem 1rem 3rem 3rem;
        margin: 1 10px;
    } 
     .form-Left .input-text:focus {
        outline: none;
    }
    
    .form-Left .input-text::placeholder {
        color: #fff;
        opacity: .5;
    } 
    
     .editing {
        color: #f5f5f5;
        margin-top: 1rem;
    }
    
    .radio-Container input {
        border: 1px solid #8ED6FF;
        border-radius: 1rem;
        margin-top: 2rem;
        accent-color: #8ED6FF; 
    
     } 
     .editing-Option {
        margin-bottom: 2rem;
    }
    
    .form-Rightinput .input-text {
        border: none;
        border-bottom: 1px solid #8ED6FF;
        background: transparent;
        padding: 3rem 1rem 3rem 3rem;
        margin: 1 10px;
    }
    
    .form-Rightinput .input-text:focus { outline: none;
    }
    
    .form-Rightinput .input-text::placeholder {
        color: #fff;
        opacity: .5;
    } 
     
      .check-Area textarea {
       outline: none;
        border: 1px solid #8ED6FF;
        border-radius: 2rem;
        padding: 2rem 2rem 2rem 2rem;
        width: 100%;
        margin-top: 3rem;
        background: transparent;
    }
    
    .header2 {
        font-size: 1.5rem;
        padding-top: 3rem;
        color: #f5f5f5;
    }
    
    .btn2 {
        align-items: center;
    }  
    
      .btn2 input {
        width: 35%;
        height: 55%;
        margin-right: 20px;
    }
    .send {
        border-radius: 1rem;
        color: #f5f5f5;
        background-color: #8ED6FF;
        border: 1px solid #8ED6FF;
        margin: 2rem 0 2rem 0;
    }
    
    .cancel {
        border-radius: 1rem;
        color: #f5f5f5;
        background-color: transparent;
        border: 2px solid #8ED6FF;
        margin: 1rem 0 1rem 0;
    } 
      @media (min-width:720px) {
        .container3 {
            padding: 50px;
        }
    
        .form-Container {
            flex-direction: row;
            background: url("/assessts/images/contact-1920x1080%201.svg") no-repeat;
        } 
         .form-Left,
        .form-Rightinput {
            flex: 1;
            background: none;
        }
        .btn2 {
            flex-direction: row;
            padding-top: 4rem;
        }
    }   
@media (min-width:1200px) {
    .container3 {
        padding: 5% 7%;
    }

    .form-Container {
        background-size: 100%;  
    }
   
}   
@media (min-width:1500px){
    .form-Container {
        padding: 5% 8%; 
    }
}
      /*FOURTH SECTION  */
      .footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-Head {
        align-items: center;
    }  
    .footer-Head2,
    .footer-Head3,
    .footer-Head4,
    .footer-Head5
    {
        padding-right: 2rem;
    }
    .footer-Sub,
    .footer-Su,
    .footer-Sub11,
    .footer-Su11,
    .footer-Subj {
        font-size: 1.5rem;
        color: #98A2B3;
        margin: 2rem 0 0 2rem;
    } 
    
    .footer-Sub1,
    .footer-Su1,
    .footer-Sub12,
    .footer-Su12,
    .footer-Subj1 {
        font-size: 1.3rem;
        color: #EAECF0;
        margin: 1rem 0 0 2rem;
    }
    .content1 {
        color: #f5f5f5;
        padding: 2rem 0 0 2rem;
        font-size: .8rem;
    } 
     .new {
        border-radius: 2rem;
    }
    
    @media (min-width:720px)
     {
        .footer {
            flex-direction: column;
        }
        .content1  {
            font-size: 1.2rem;
            text-align: center;
        }
        .footer-Head{
            flex-direction: row;
           justify-content: space-between;
           padding-bottom: 3rem;
           line-height: 3rem;
           flex: 2;
        }
    } 
    @media (min-width:1200px) 
    {
        .footer-Full
        {
            flex-direction: row;
        }
        .content1 {
            margin-top: 4rem;
          text-align: left;
          margin-left: 6rem;
            font-size: 1.6rem;
            flex: 1;
           }
        }